---
import { Icon } from '@astrojs/starlight/components';
import { FILEUNI_CONTROL_METRICS } from '../i18n/core';

const controlStyle = [
  `--fu-control-size:${FILEUNI_CONTROL_METRICS.buttonSizePx}px`,
  `--fu-control-min-height:${FILEUNI_CONTROL_METRICS.buttonMinHeightPx}px`,
  `--fu-control-radius:${FILEUNI_CONTROL_METRICS.borderRadiusPx}px`,
  `--fu-control-icon-size:${FILEUNI_CONTROL_METRICS.iconSizePx}px`,
].join(';');
---

<starlight-theme-select>
  <button
    type="button"
    class="fu-theme-toggle"
    style={controlStyle}
    aria-label={Astro.locals.t('themeSelect.accessibleLabel')}
    title={Astro.locals.t('themeSelect.accessibleLabel')}
  >
    <span class="fu-theme-icon fu-theme-icon--sun" aria-hidden="true"><Icon name="sun" /></span>
    <span class="fu-theme-icon fu-theme-icon--moon" aria-hidden="true"><Icon name="moon" /></span>
  </button>
</starlight-theme-select>

<script>
  import { initDocsThemeSelect } from '../scripts/theme-select';

  initDocsThemeSelect();
</script>
